<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head.ejs -->
    <%- include('../partials/head');%>
    <link rel="stylesheet" href="/css/app.css" />

    <title>Thinkific - App</title>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <!-- header.ejs -->
        <%- include('../partials/header');%>
      </header>
      <div class="container-fluid content">
        <h1>Let's make an API call:</h1>
        <div class="container" id="app-container">
          <form action="/app" method="post" id="selectFlowForm">
            <label for="exampleFormControlInput1" class="form-label"
              >Method</label
            >
            <select id="apiMethod" class="form-select mb-3" name="method">
              <option value="get">GET</option>
              <option value="post">POST</option>
              <option value="delete">DELETE</option>
              <option value="put">PUT</option>
            </select>
            <label for="exampleFormControlInput1" class="form-label"
              >Endpoint</label
            >
            <input
              type="text"
              id="basic-url"
              class="form-control mb-3"
              name="baseUrl"
              value="https://api.thinkific.com/api/public/v1/user"
            />
            <label for="exampleFormControlInput1" class="form-label"
              >Body Parameters</label
            >
            <textarea
              name="bodyParams"
              class="form-control mb-3"
              rows="8"
            ></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <div class="container-fluid footer">
        <footer class="mt-auto text-white-50 footer">
          <!-- footer.ejs -->
          <%- include('../partials/footer');%>
        </footer>
      </div>
    </div>
  </body>
</html>
